h2, h3 {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

.container {
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .page .header {
  border-bottom: 1px solid #191919;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.container .page .header span {
  text-transform: capitalize;
  width: 20%;
  font-weight: 500;
  font-size: 20px;
}
.container .page .header span:first-child {
  margin-right: 15px;
}
.container .page .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 0;
  font-size: 20px;
}
.container .page .item .items {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191919;
  padding: 10px 0;
}
.container .page .item .items .item-imageContainer {
  width: 20%;
  height: 300px;
}
.container .page .item .items .item-imageContainer img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.container .page .item .items .item-name {
  padding-right: 0;
  width: 20%;
  font-weight: 400;
}
.container .page .item .items .item-quantity {
  padding-left: 3%;
  display: flex;
  width: 20%;
  font-weight: 400;
}
.container .page .item .items .item-quantity .item-quantity-modify {
  display: flex;
}
.container .page .item .items .item-quantity .item-quantity-modify .item-arrow-left {
  margin: 0 10px;
}
.container .page .item .items .item-quantity .item-quantity-modify .item-arrow-left:hover {
  cursor: pointer;
}
.container .page .item .items .item-quantity .item-quantity-modify .item-arrow-right {
  margin: 0 10px;
}
.container .page .item .items .item-quantity .item-quantity-modify .item-arrow-right:hover {
  cursor: pointer;
}
.container .page .item .items .item-quantity .item-removeButton {
  margin-left: 20px;
}
.container .page .item .items .item-quantity .item-removeButton:hover {
  cursor: pointer;
}
.container .page .item .items .item-price {
  width: 20%;
  font-weight: 400;
  padding-left: 7%;
}
.container .page .item .items .item-total {
  width: 20%;
  margin-left: 9%;
}
.container .page .total {
  width: 100%;
  font-size: 20px;
  padding: 15px 10% 0 0;
  display: flex;
  justify-content: flex-end;
}
.container .page button {
  margin: 20px 0;
  color: #528CE0;
  border-color: #528CE0;
}
.container .page button:hover {
  background: #528CE0;
  color: #f4f5f6;
}

#payme .container > .row {
  border: 1px solid #191919;
}

#payme {
  display: none;
}
#payme .container {
  padding: 20px 60px;
}
#payme .container .row {
  margin: 0 0 10px;
  width: 100%;
}
#payme .container .row .col-6 form#billing .form-group {
  margin-bottom: 0;
  height: 52px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
#payme .container .row .col-6 form#billing .form-group i {
  color: #191919;
  opacity: 0.5;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
#payme .container .row .col-6 form#billing .form-group input {
  font-style: italic;
  padding-left: 10%;
  border: none;
}
#payme .container .row .col-6 form#billing .form-group.row {
  border: none;
}
#payme .container .row .col-6 form#billing .form-group.row .form-group:first-of-type {
  position: relative;
  width: 49%;
  margin-right: 1%;
}
#payme .container .row .col-6 form#billing .form-group.row .form-group:first-of-type i.fa-city {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
#payme .container .row .col-6 form#billing .form-group.row .form-group:first-of-type input {
  padding-left: 20%;
}
#payme .container .row .col-6 form#billing .form-group.row .form-group:last-of-type {
  width: 49%;
  margin-left: 1%;
}
#payme .container .row .col-6 form#billing button {
  color: #528CE0;
  border-color: #528CE0;
  margin-top: 30px;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#payme .container .row .col-6 form#billing button:hover {
  background: #528CE0;
  color: #f4f5f6;
  border-color: #528CE0;
}

#payme .list-group {
  width: 100%;
}
#payme .list-group .list-group-item {
  background: none;
}
#payme .list-group #checkoutCollapse .form-row .form-group {
  position: relative;
}
#payme .list-group #checkoutCollapse .form-row .form-group i {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
#payme .list-group #checkoutCollapse .form-row .form-group input {
  padding-left: 10%;
  padding-bottom: 6px;
}
#payme .list-group .col-12.col-md-4:last-of-type .input-group {
  height: 100%;
}
#payme .list-group .col-12.col-md-4:last-of-type .input-group input {
  width: 70%;
  padding-left: 5%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#payme .list-group .col-12.col-md-4:last-of-type .input-group input::-ms-input-placeholder {
  opacity: 0.5;
}
#payme .list-group .col-12.col-md-4:last-of-type .input-group input::placeholder {
  opacity: 0.5;
}
#payme .list-group .col-12.col-md-4:last-of-type .input-group .input-group-append {
  width: 30%;
}

#payme .table-responsive table tbody tr td .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  background: #528CE0;
  box-shadow: 0 0 0 0.2rem rgba(82, 140, 224, 0.25);
}
#payme .table-responsive table tbody tr td .custom-control.custom-radio .custom-control-input:focus ~ .custom-control-label:before {
  background: #528CE0;
  box-shadow: 0 0 0 0.2rem rgba(82, 140, 224, 0.25);
}

#payme .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  background: #528CE0;
  box-shadow: 0 0 0 0.2rem rgba(82, 140, 224, 0.25);
}
#payme .custom-control.custom-radio .custom-control-input:focus ~ .custom-control-label:before {
  background: #528CE0;
  box-shadow: 0 0 0 0.2rem rgba(82, 140, 224, 0.25);
}
#payme .custom-control.custom-radio label {
  font-size: 18px;
  font-weight: 400;
}

#payme .table-responsive table tbody tr td {
  font-weight: 300;
}

@media (max-width: 575.98px) {
  .container {
    padding: 40px;
  }

  .container .page .header {
    display: none;
  }

  .container .page .item .items:first-child {
    border-top: 1px solid #191919;
  }

  .container .page .item .items .item-imageContainer {
    display: none;
  }

  .container .page .item .items .item-name {
    padding: 0;
  }

  .container .page .item .items .item-quantity {
    font-size: 15px;
  }

  .container .page .item .items .item-quantity .item-removeButton {
    margin: 0;
  }

  .container .page .item .items .item-price {
    margin-left: 15%;
    padding: 0;
  }

  .container .page .item .items .item-total {
    margin-left: 5%;
    padding-right: 0;
  }

  .container .page .total {
    padding: 15px 6% 0 0;
    font-size: 17px;
  }

  .container .page .header span {
    font-size: 17px;
  }

  .container .page .item {
    font-size: 17px;
  }

  #payme .container {
    padding: 40px;
  }

  #payme .row .col-6 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding: 0;
  }
  .container .container .page .item {
    padding: 0;
  }

  .container .page .item .items {
    padding: 0;
  }

  .container .page .item .items .item-imageContainer {
    margin-right: 0;
  }

  .container .page .item .items .item-imageContainer img {
    object-position: center;
    object-fit: contain;
    width: 100%;
  }

  .container .page .item .items .item-quantity {
    font-size: 15px;
    margin-left: 4%;
    padding: 0;
  }

  .container .page .item .items .item-quantity .item-removeButton {
    margin: 0;
    padding-left: 0;
  }

  .container .page .item .items .item-price {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .item .items .item-total {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .total {
    padding: 15px 6% 0 0;
  }

  .container .page .header span {
    font-size: 15px;
  }

  .container .page .item {
    font-size: 15px;
    padding: 0;
  }

  #payme .container {
    padding: 0;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group input {
    width: 80%;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group .input-group-append {
    width: 20%;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group .input-group-append span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 0;
  }

  .container .page .item {
    padding: 0;
  }

  .container .page .item .items {
    padding: 0;
  }

  .container .page .item .items .item-imageContainer {
    margin-right: 0;
  }

  .container .page .item .items .item-imageContainer img {
    object-position: center;
    object-fit: contain;
    width: 100%;
  }

  .container .page .item .items .item-quantity {
    font-size: 15px;
    margin-left: 4%;
    padding: 0;
  }

  .container .page .item .items .item-quantity .item-removeButton {
    margin: 0;
  }

  .container .page .item .items .item-price {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .item .items .item-total {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .total {
    padding: 15px 6% 0 0;
  }

  .container .page .header span {
    font-size: 15px;
  }

  .container .page .item {
    font-size: 15px;
  }

  #payme .container {
    padding: 0;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group {
    width: 100% !important;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group input {
    width: 80%;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group .input-group-append {
    width: 20%;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group .input-group-append span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    padding: 0;
  }

  .container .page .item .item-imageContainer {
    margin-right: 0;
  }

  .container .page .item .item-imageContainer img {
    object-position: center;
    object-fit: contain;
    width: 100%;
  }

  .container .page .item .items .item-name {
    padding-left: 1%;
  }

  .container .page .item .items .item-quantity {
    font-size: 15px;
    margin-left: 4%;
    padding: 0;
  }

  .container .page .item .items .item-quantity .item-removeButton {
    margin: 0;
  }

  .container .page .item .items .item-price {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .item .items .item-total {
    margin-left: 3%;
    padding: 0;
  }

  .container .page .total {
    padding: 15px 6% 0 0;
  }

  .container .page .header span {
    font-size: 17px;
  }

  .container .page .item {
    font-size: 17px;
  }

  #payme .container {
    padding: 0;
  }

  #payme .list-group .col-12.col-md-4:last-of-type .input-group input {
    width: 68%;
  }
}