.container {
  width: 900px;
  margin: 60px auto;
  padding: 0;
}
.container .row {
  display: flex;
  justify-content: center;
}
.container .row .signup {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container .row .signup h3 {
  margin: 0;
  color: #191919;
}
.container .row .signup form#createAccount .form-group {
  margin: 45px 0;
  position: relative;
}
.container .row .signup form#createAccount .form-group i {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.container .row .signup form#createAccount .form-group i.fa-lock {
  position: absolute;
  left: 5%;
  top: 31%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.container .row .signup form#createAccount .form-group input {
  width: 100%;
  border: none;
  font-style: italic;
  color: #191919;
  border-radius: 0.25rem;
  padding: 10px 10px 10px 10%;
}
.container .row .signup form#createAccount .form-group small {
  margin: 0;
  font-style: italic;
  color: #528CE0 !important;
}
.container .row .signup form#createAccount .form-group:last-of-type {
  margin: 45px 0 30px;
  position: relative;
}
.container .row .signup form#createAccount .form-group:last-of-type i.fa-lock {
  position: absolute;
  left: 5%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .row .signup form#createAccount button {
  color: #528CE0;
  border-color: #528CE0;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .row .signup form#createAccount button:hover {
  background: #528CE0;
  color: #f4f5f6;
  border-color: #528CE0;
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }

  .container .row {
    width: 100%;
  }

  .container .row .col-sm-12 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 60px;
  }

  .container .row .signup form#createAccount .form-group i.fa-lock {
    top: 25%;
  }

  .container .row .signup form#createAccount .form-group:first-of-type i {
    padding-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container .col-sm-12:first-of-type {
    margin-bottom: 40px;
  }

  .container .row .col-sm-12 {
    padding: 0 60px;
  }
}
