.container {
  width: 900px;
  margin: 60px auto;
  padding: 0;
}
.container .row {
  display: flex;
  justify-content: center;
}
.container .row .signin {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container .row .signin h3 {
  margin: 0;
  color: #191919;
}
.container .row .signin form#signAccount .form-group {
  margin: 45px 0;
  position: relative;
}
.container .row .signin form#signAccount .form-group i {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.container .row .signin form#signAccount .form-group input {
  width: 100%;
  border: none;
  font-style: italic;
  color: #191919;
  border-radius: 0.25rem;
  padding: 10px 10px 10px 10%;
}
.container .row .signin form#signAccount .form-check {
  margin: 0 0 15px;
}
.container .row .signin form#signAccount button {
  color: #528CE0;
  border-color: #528CE0;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .row .signin form#signAccount button:hover {
  background: #528CE0;
  color: #f4f5f6;
  border-color: #528CE0;
}
.container .row .signin form#signAccount .form-group:nth-child(2) {
  margin: 45px 0 15px;
}
.container .row #signupnow {
  text-align: center;
  position: relative;
  margin: 15px 0;
}
.container .row #signupnow span::before {
  content: "";
  border-top: 1px solid #191919;
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
}
.container .row #signupnow span::after {
  content: "";
  border-top: 1px solid #191919;
  position: absolute;
  top: 50%;
  left: 55%;
  width: 45%;
}
.container .row a[role=button] {
  margin: 0 0 15px;
  color: #528CE0;
  border-color: #528CE0;
  padding: 10px 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.container .row a[role=button]:hover {
  background: #528CE0;
  color: #f4f5f6;
  border-color: #528CE0;
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }

  .container .row {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container .col-sm-12:first-of-type {
    margin-bottom: 40px;
  }

  .container .row .col-sm-12 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 60px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container .col-sm-12:first-of-type {
    margin-bottom: 40px;
  }

  .container .row .col-sm-12 {
    padding: 0 60px;
  }
}
