@import "variables";
@import "mixins";

.container {
  width: 900px;
  margin: 60px auto; padding: 0;

  .row {
    display: flex; justify-content: center;

    .signin {
      width: 50%; margin: 0;
      display: flex; flex-direction: column;
      h2 {
        margin: 0; color: $black;
      }
      form#signAccount {
        .form-group {
          margin: 45px 0; position: relative;
          i {
            position: absolute; left: 5%; top: 50%; transform: translate(-50%, -50%);
            width: 16px; height: 16px; opacity: 0.5;
          }
          input {
            width: 100%; border: none; font-style: italic;
            color: $black; border-radius: .25rem;
            padding: 10px 10px 10px 10%;
          }
        }
        .form-check {
          margin: 0  0 15px;
        }

        button {
          color: $blue; border-color: $blue;
          padding: 5px 30px; @include flexFullCentered;
          &:hover {
            background: $blue; color: #f4f5f6; border-color: $blue;
          }
        }
        .form-group:nth-child(2) {
          margin: 45px 0 15px;
        }
      }
    }
    #signupnow {
      text-align: center;
      position: relative;
      margin: 15px 0;
      span {
        &::before {
          content: '';
          border-top: 1px solid $black;
          position: absolute; top: 50%; left: 0;
          width: 45%;
        }
        &::after {
          content: '';
          border-top: 1px solid $black;
          position: absolute; top: 50%; left: 55%;
          width: 45%;
        }
      }
    }
    a[role="button"] {
      margin: 0 0 15px;
      color: $blue; border-color: $blue; padding: 10px 30px !important;
      display: flex; justify-content: center;
      align-self: center;
      &:hover {
        background: $blue; color: #f4f5f6; border-color: $blue;
      }
    }
  }
}



//max 576px - Extra small
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
  .container .row {
    width: 100%; max-width: 100%;
    display: flex;
  }
  .container .row .col-sm-12 {
    flex-basis: 100%; width: 100%; padding: 0 60px;
  }
  .container .row a[role="button"] {
    margin: 0;
  }
}


//min 576px - max 768px - Small devices
@media (min-width: 576px) and (max-width: 767.98px) {
  .container .col-sm-12:first-of-type {
  margin-bottom: 40px;
}
  .container .row .col-sm-12 {
    padding: 0 60px;
  }
}


//min 768px - max 992px - Medium devices
@media (min-width: 768px) and (max-width: 991.98px) {

}


//min 992px - max 1200 - Large devices
@media (min-width: 992px) and (max-width: 1199.98px) {

}


//min 1200px - Extra large
@media (min-width: 1200px) {

}


